@font-face{
  font-family: 'Jameel';
  src: url('Jameel\ Noori\ Nastaleeq.ttf');
}

body {
  font-family: 'Jameel';
}

.steps{
 font-size: 25px; 
 font-weight: bold;
}
.container{
  display: flex;
  justify-content: flex-start;
}
.stepDiv{
  padding: 12px;
  float: left;
  width: 25%;
  border-right : 1px solid black
}
.rightDiv{
  float: left;
  width: 75%;
}
.checkbox{
  font-size: 22px;
}
.buttonDiv{
  margin: 12px;
  display: flex;
  justify-content: space-around;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.accounts{
  text-align: left;
  justify-content: left;
}
.social{
  text-align: left;
}
p{
  text-align: center;
  font-size: 32px;
  margin: 12px;
  font-weight: bold;
  text-decoration: underline;
}
.tableHeading{
  background-color: turquoise;
}
.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.header{
  display: flex;
  color: white;
  padding: 41px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: blueviolet;
}
.inputHeading{
  font-size: 18px;
}
.inputrow{
  background-color: #ffffff;
  color: black;
  margin: 12px;
  text-align: end;
  align-items: center;
}
td > input{
  width: 100%;
}
.input{
  /* height: 38px; */
  text-align: right;
  
  width: 70%;
  font-size: 18px;
  margin-top: 5px;
}
.dropdown {
  height: 35px;
}
.radio{
  width: 10%;
  height: 15px;
}
table{
  width: 85%;
  align-self: center;
  border: 1px #cccc solid;
  text-align: right;
}
td , th{
  border: 1px #cccc solid;
  text-align: center;
  padding: 5px;
  margin: 0px;
}
.tdSelect{
  width: 90%;
}
.inputrowchild{
  width:80%;
  margin-right: 5%;
}
.tableInput{
  width:  95%;
  text-align: right;
  font-size: 18px;
}
.formRow{
  display: flex;
  min-height: 40px;
  align-items: flex-end;
  text-align: end;
  justify-content: center;
}
.first{
  background-color: yellow;
  width: 40%;
  margin: 12px;
}
.skills{
  width: 90%;
  margin: 0 auto;
}
.second {
  width: 40%;
  margin: 12px;
  background-color: yellowgreen;
}
.App-link {
  color: #61dafb;
}
.textArea{
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
}
.checkbox{
  font-size: 22px;
  margin-left: 12px;
}
.table-div{
  display: flex;
  justify-content: center;
  margin-top:25px ;
  margin-bottom: 25px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
 .input{
   width: 100%;
 }
 .inputrowchild{
  width: 100%;
  margin-right: 2%;
 }
}
@media screen and (max-width: 800px) {
  .input{
    width: 100%;
  }
  .inputrowchild{
   width: 100%;
   margin-right: 2%;
  }
  .rightDiv{
 display: block;
 width: 100%;
 margin-right: auto;
 margin-left: auto;
  }
  .skills{
    width: 98%;
  }
  .stepDiv{
   display: none; 
  }
 }
