@font-face {
  font-family: "Jameel";
  src: url("Jameel\ Noori\ Nastaleeq.ttf");
}

body {
  font-family: "Jameel";
  padding-bottom: 25px;
}
* {
  font-family: "Jameel";
}
table {
  width: 100%;
}
li {
  display: inline;
  font-size: 22px;
  padding-left: 12px;
}
.app-header {
  height: 60px;
  background-color: teal;
  color: #ffffff;
  padding-right: 3%;
  align-items: center;
  font-family: "Jameel";
}
.header-title {
  text-decoration: none;
  margin-right: 25px;
  float: right;
  color: #ffffff;
}
.steps {
  font-family: "Jameel";
}
.link {
  font-size: 22px;
  font-weight: normal;
  cursor: pointer;
  color: #ffffff;
  padding: 4px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 8px;
  border-radius: 25px;
}
.link:hover {
  background-color: white;
  color: teal;
  font-weight: bold;
}
h2 {
  font-family: "Jameel";
  padding-right: 25px;
}
.containerHome {
  width: "80%";
  margin-left: 10%;
  margin-right: 5%;
}
.filterDiv {
  height: 400px;
  float: left;
  width: 15%;
}

.userItem {
  height: 120px;
  width: 80%;
  margin-left: 20%;
  border-radius: 5px;
  text-align: right;
  border: 2px solid #cccc;
  margin-top: 12px;
}
.userItem:hover {
  opacity: 0.7;
  cursor: pointer;
}
.pdfTd {
  font-family: "Jameel";
  font-size: 20px;
  height: 40px;
  min-width: 50px;
  max-width: 80px;
  text-align: center;
}
.pdfHeading {
  background-color: #cccc;
  color: #000000;
}
.pdfHeader {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  font-family: "Jameel";
}
.steps {
  font-size: 25px;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: flex-start;
}
.stepDiv {
  padding: 12px;
  float: left;
  width: 15%;
  border-right: 1px solid grey;
}
.rightDiv {
  float: left;
  width: 75%;
}
.stepDivHome {
  float: left;
  width: 15%;
}
.rightDivHome {
  float: left;
  width: 84%;
}
.checkbox {
  font-size: 22px;
}
.buttonDiv {
  display: flex;
  position: fixed;
  bottom: 25px;
  margin-left:  41px;
  width: 70%;
  justify-content: space-between;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.accounts {
  text-align: left;
  justify-content: left;
}
.social {
  text-align: left;
}
p {
  text-align: center;
  font-size: 32px;
  margin: 12px;
  font-weight: bold;
  font-family: "Jameel";
  text-decoration: underline;
}
.tableHeading {
  background-color: turquoise;
  font-family: "Jameel";
}
.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.header {
  display: flex;
  color: white;
  padding: 41px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: blueviolet;
}
.inputHeading {
  font-size: 18px;
}
.inputrow {
  background-color: #ffffff;
  color: black;
  margin: 12px;
  text-align: end;
  align-items: center;
}
td > input {
  width: 100%;
  font-family: "Jameel";
}
span {
  font-family: "Jameel";
}
.input {
  /* height: 38px; */
  text-align: right;
  font-family: "Jameel";
  width: 70%;
  font-size: 20px;
  margin-top: 5px;
}
.input::placeholder {
  font-family: "Jameel";
}
.dropdown {
  height: 35px;
}
.radio {
  width: 10%;
  height: 15px;
}
table {
  width: 95%;
  align-self: center;
  border: 1px #cccc solid;
  text-align: right;
}
td,
th {
  border: 1px #cccc solid;
  text-align: center;
  padding: 5px;
  font-family: "Jameel";
  margin: 0px;
}
.tdSelect {
  width: 90%;
}
.inputrowchild {
  width: 80%;
  margin-right: 5%;
}
.tableInput {
  width: 95%;
  text-align: right;
  font-size: 22px;
}
.formRow {
  display: flex;
  min-height: 40px;
  align-items: flex-end;
  text-align: end;
  justify-content: center;
}
.first {
  background-color: yellow;
  width: 40%;
  margin: 12px;
}
.skills {
  width: 90%;
  margin: 0 auto;
}
.second {
  width: 40%;
  margin: 12px;
  background-color: yellowgreen;
}
.App-link {
  color: #61dafb;
}
.textArea {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
}
.checkbox {
  font-size: 22px;
  margin-left: 12px;
}

.printOutButton {
  width: 30%;
  margin-left: 35%;
}
.table-div {
  width: 95%;
  margin: 0 auto;
  margin-top: 5%;
  margin-left: 10%;
}
.table-div-pdf {
  width: 90%;
  margin: 0 auto;
}
.table-div-pdf > table {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.selector {
  width: 300px;
  margin-bottom: 12px;
  font-size: 22px;
}
.branchTotal {
  font-weight: bold;
  font-size: 20px;
}
.branchName {
  font-weight: bold;
  font-size: 20px;
}
.branchheader {
  width: 90%;
  text-align: center;
  height: 50px;
  background-color: aquamarine;
  border: 1px solid lightblue;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 12px;
}
.selectorDiv {
  width: 90%;
  min-height: 80px;
  margin-left: 8%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerCards {
  float: left;
  margin: 10px;
  cursor: pointer;
}

.avatar-uploader > .ant-upload {
  width: 200px;
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .input {
    width: 100%;
  }
  .inputrowchild {
    width: 100%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 800px) {
  .input {
    width: 100%;
  }
  .inputrowchild {
    width: 100%;
    margin-right: 2%;
  }
  .rightDiv {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .skills {
    width: 98%;
  }
  .stepDiv {
    display: none;
  }
}
